/* Main Appointments sections with list and counter */
main{
  margin: 0;
  display: flex;
  flex-direction: row;
}

main section {
  padding: 0 2.5rem;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(111, 111, 111);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav h2 {
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 17px;
}

.container form label {
  font-weight: bold;
}

.container form input, select {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Change the color of links on hover */
.topnav div:hover {
  background-color: #ddd;
  color: black;
}
